body {
        background-color: #e2dbb8 ;
        margin:40px;
       }
     .cuadrado {
       display: flex;
       width: auto;
       height: auto;
       background-color: rgb(246, 245, 233);
       border: 1px solid black;
     }
     .summary{
        cursor: pointer;
        margin:10px 0;
        padding:auto;
        font-size:50px

     }
     .details p{
        margin: 10px 0;
        word-wrap: break-word;

     }
     .title{
        background-color: rgb(255, 255, 255);
        font-size:100px;
        display: inline;
        text-align: left;
     }
     .image{
       margin-right:50px ;
       float:right;
       height: 50px;
       width: 50px;
     }
     .cursosBaristas{
        list-style-type: circle;
     }
     .one:link{color:#030303}
     .one:visited {color:#030303;}
     .one:hover {color:#928152;}
     .one{
        padding: 10px;
        list-style-type: circle;
        font-size: 25px;
     }
     .clearfix::after {
        content: "";
        clear: both;
        display: table;
        background-color: rgb(255, 255, 255);
      }
     
