body {
        background-color: #e2dbb8 ;
        margin:40px;
       }
       .cuadrado {
       display: inline-block;
       width: 200px;
       height: 200px;
       background-color: rgb(246, 245, 233);
       margin: 10px;
       cursor: pointer;
       align-items: center;
       border: 1px solid black;
     }
     .title{
        font-size:700px;
        padding:20px;
        text-align: left;
        background-color:rgb(255, 255, 255)
     }
     .image{
        width: 75px;
        height: 75px;
        display: flex;
        align-items: right;
     }
     