body {
        background-color: #e2dbb8 ;
        margin:40px;
       }
     .cuadrado {
       display: flex;
       width: 200px;
       height: 200px;
       background-color: rgb(246, 245, 233);
       border: 1px solid black;
     }
     .summary{
        cursor: pointer;
        margin:10px 0;
        align-items: center;
        font-size: 100px;
     }
     .details p{
        margin: 10px 0;

     }
     .title{
        font-size:200px;
        padding:20px;
        text-align: center;
        background-color:rgb(238, 238, 238)
     }

     .image{
        width: 75px;
        height: 75px;
        display: flex;
        align-items: right;
     }
     